/* 在CSS文件中引入antd的css文件 */
@import '~antd/dist/antd.css';
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #e1e1e1;
}
.header{
    height: 50px;
    background-color: #444;
}
.header header{
    width: 1200px;
    line-height: 50px;
    margin: 0 auto;
}
.header header a{
    margin: 0 20px;
    color: #fff;
}
.header img{
    width: 120px;
}

/* content */
.content{
    width: 1200px;
    margin: 30px auto 0;
}
.left{
  width: 900px;
  float: left;
}
.right{
  width: 270px;
  float: right;
  height: 500px;
}
.home-title{
    color: #80bd01;
    margin: 0 10px;
}
.home{
    margin-left: 50px;
}

.inner{
    width: 800px;
    height: 35px;
    float: left;
    margin-left: 50px;
    border-bottom: 1px solid #f0f0f0;
    background-color: white;
}
.user_avatar img{
    width: 25px;
    height: 25px;
    margin:5px;
}
.reply-count{
    width: 70px;
    display: inline-block;
    text-align: center;
}
.count{
    font-size: 5px;
}
.reply{
    font-size: 15px;
    color: #9e78c0;
}
.pull-right{
    float: right;
    margin-top: 6px;
}
.pull-right img{
    width: 15px;
    height: 15px;
    border-radius: 3px;
}
.pull-right span{
    font-size: 11px;
    color: #778087;
    margin-right: 10px;
    margin-left: 18px;
}
.topic_title_wrapper{
    white-space: nowrap;
}
.put_top{
    background: #80bd01;
    padding: 2px 4px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    margin-left: 15px;
}
.topic_title{
    color: #333;
    max-width: 70%;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    line-height: 30px;
}

.put_ask{
    background-color: #e5e5e5;
    padding: 2px 4px;
    border-radius: 3px;
    color: #999;
    font-size: 12px;
    margin-left: 15px;
}
.put_share{
    background-color: #e5e5e5;
    padding: 2px 4px;
    border-radius: 3px;
    color: #999;
    font-size: 12px;
    margin-left: 15px;
}



/*main*/

.sider{
    
    float: right;
   
}
.sider>div:nth-child(1){
    margin-bottom: 20px;
    width:270px;
    /* float: right; */
    height: 100px;
    background-color: white;
    border-radius: 0 0 3px 3px;
}
.sider>div:nth-child(2){
    margin-bottom: 20px;
    width:270px;
    height: 200px;
    border-radius: 0 0 3px 3px;
    background-color: white;
    
    
}
.sider>div:nth-child(3){
    margin-bottom: 20px;
    width:270px;
    height: 250px;
    background-color: white;
    border-radius: 0 0 3px 3px;
}

.sider2{
    background-color: #fff;
    margin-top:20px;
    height: 200px;
}
.sider2 img{
    width: auto;
    height: 60px;
}

.sider1{
    padding-top: 10px;
   
    background-color: #fff;
}
.sider1 p:nth-child(1){
    font-size: 15px;
    margin-left: 10px;
   
    margin-bottom:15px;
}
.sider1 p:nth-child(2){
    font-size:13px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.sider1 button{
    font-size:14px;
    margin-left: 10px;
    color:white;
    background-color: #5bc0de;
    padding: 5px;
    border:none;
    border-radius: 5px;
}
.sider3{
    background-color: #fff;
    margin-top:20px;
    height: 200px;
}

/*
login
*/
.login1{
    width: 900px;
    height: 300px;
    background-color: #f0f0f0;
}
.login2{
    width: 900px;
    height: 50px;
    background-color: #f5f5f5;
    line-height: 50px;
    font-size: 20px;
}
.login3{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 150px;
    
}
.login3 input{
    border-radius: 5px;
}

.login4{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left:150px;
}

.login4 input{
    border-radius: 5px;
}
.login5{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left:200px;
}
/*all*/
.allimg{
    width: 30px;
    height:30px;
    margin-left: 5px;;
}
.reply_count pull-left{
      width: 70px;
      display: inline-block;
      
}
.count_of_replies{
      color: #9e78c0;
}
.count_seperator{
        margin:3px;
        font-size: 10px;
}
.count_of_visits{
       font-size: 10px;
       color:#b4b4b4;
}
.top{
    background-color: #80bd01;
    color: #fff;
    font-size: 12px;
    width: 35px;
    height:20px;
    padding-left: 5px;
    display:inline-block;
    margin-left: 5px;
    border-radius: 5px;
}
.righ{
width: 90px;
height: 30px;
display: inline-block;
float:right;
}
.righ1 img{
    width: 30px;
    height: 30px;
    float: left;

}
.righ2{
  float:right;
  padding-right: 10px;
  line-height: 30px;
}
.title_top{
    color: #333;
    font-size: 11px;
    line-height: 35px;
    padding-left: 10px;
}